<strong>Olá. {{ provider }}</strong>
<p>Bem vindo a Gympoint!</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Data/Hora: </strong> {{ date }} <br />
  <strong>Plano: </strong> {{ plano }} <br />
  <strong>Preço: </strong> {{ price }} <br />
  <br />
  <small>
    Sua matrícula foi criada com sucesso.
  </small>
</p>
